body {
  background-color: #cfcfcf;
  font-family: 'Agdasima';
  margin: auto;
}

#landing-page {
  margin: auto;
  padding: auto;
  width: 100vw;
  height: 100vh;
}

#nav {
  display: flex;
  align-items: center;
  background-color: rgb(179, 179, 179);
  box-shadow: 5px 10px #fdfdfd;
  width: 100vw;
  height: 10vh;
}

#user-selection-container {
  margin-left: 25vw;
}

#user-selection {
  width: 10vw;
  font-size: 20px;
  border-radius: 10px;
  padding: 0.2rem;
}

#main-display {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 70vh;
}

#users-display-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 100%;
}

#user-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 3px dashed black;
  padding: 0.5rem;
}

#user-display h3:hover {
  color: #1a55f8;
  border-radius: 5px;
  background-color: aliceblue;
}

#coins-display-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 100%;
}

#coin-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 3px dashed black; */
  padding: 0.5rem;
}

#user-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 96.6vw;
  height: 18vh;
}

#user-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#available-inputs {
  display: flex;
  flex-direction: column;
  margin: 0 10vw;
}

#available-coins {
  display: flex;
  flex-direction: row;
}
