body {
  background-color: #d4d4d4;
  font-family: 'Agdasima';
  margin: auto;
}

#landing-page {
  /* display: flex;
  flex-direction: column;
  justify-items: center; */
  margin: auto;
  padding: auto;
  width: 100vw;
  height: 100vh;
}

#nav {
  display: flex;
  align-items: center;
  background-color: antiquewhite;
  width: 100vw;
  height: 10vh;
}

#user-selection-container {
  margin-left: 25vw;
}

#user-selection {
  width: 10vw;
  font-size: 20px;
  border-radius: 10px;
  padding: 0.2rem;
}

#main-display {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 70vh;
}

#users-display-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 100%;
}

#user-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 3px dashed black;
  padding: 0.5rem;
}

#user-display h3:hover {
  color: #1a55f8;
  background-color: aliceblue;
}

#coins-display-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 100%;
}

#coin-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 3px dashed black; */
  padding: 0.5rem;
}

#user-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 20vh;
}

#user-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
