body {
  background-color: #d4d4d4;
  font-family: 'Agdasima';
  margin: auto;
}

#landing-page {
  /* display: flex;
  flex-direction: column;
  justify-items: center; */
  margin: auto;
  padding: auto;
  width: 100vw;
  height: 100vh;
}

#user-navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
  width: 100vw;
  height: 20vh;
}

#main-display {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
  height: 90vh;
}

#user-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
